<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <ng-container *ngFor="let id of columnIds" matColumnDef={{id}}>
        <th mat-header-cell *matHeaderCellDef> {{getLabel(id)}} </th>
        <span *ngIf="id == 'more'"><td mat-cell *matCellDef="let element"> <button (click)="getMoreInfo(element.id)">></button></td></span>
        <span *ngIf="id != 'more'"><td mat-cell *matCellDef="let element"> {{element[id]}} </td></span>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnIds"></tr>
    <tr mat-row *matRowDef="let row; columns: columnIds;"></tr>
</table>
